<script src="//ajax.lug.ustc.edu.cn/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<form id="form_id" enctype="multipart/form-data" method="post">
  name: <input id="txt" name="repo_name" type="text"/> <br/>

  <input id="key" name="key_file" type="file"/> <br/>
  <input id="submit" name="submit" type="submit"/>
</form>

<script type=text/javascript>
  $("form#form_id").submit(function(e) {
    e.preventDefault();    
    var formData = new FormData(this);

    $.ajax({
        url: '/create_repo',
        type: 'POST',
        data: formData,
        success: function(data) {
          alert(data);
        },
        cache: false,
        contentType: false,
        processData: false
    });
  });
</script>